<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">List Productos</div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio Unitario</th>
        <th>Imagen</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @productos.each do |producto|
      %>
          <tr>
            <td><%= producto.nombre %></td>
            <td><%= producto.descripcion %></td>
            <td><%= producto.pu %></td>
            <td><%= producto.imagen %></td>
            <td><%= link_to "", producto_path(producto),:class => "glyphicon glyphicon-eye-open" %></td>
            <td><%= link_to "", edit_producto_path(producto),:class => "glyphicon glyphicon-pencil" %></td>
            <td><%= link_to "", producto_path(producto),
                            method: :delete,
                            data: {confirm: 'Realmente quiere eliminar...??'},:class => "glyphicon glyphicon-trash" %></td>
          </tr>
      <%
         end %>
    </table>
    <%= will_paginate @productos, :container => false %>
  </div>
  <div class="panel panel-footer">Productos que se encuentan registrados actualmente</div>
</div>