<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">List Facturas</div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tr>
        <th>Fecha</th>
        <th>cliente</th>
        <th>Usuario</th>
        <th>Total</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @facturas.each do |factura|
      %>
          <tr>
            <td><%= factura.fecha %></td>
            <td><%= factura.cliente.nombre %></td>
            <td><%= factura.usuario.login %></td>
            <td><%= factura.total %></td>
            <td><%= link_to "", factura_path(factura),:class => "glyphicon glyphicon-eye-open" %></td>
            <td><%= link_to "", edit_factura_path(factura),:class => "glyphicon glyphicon-pencil" %></td>
            <td><%= link_to "", factura_path(factura),
                            method: :delete,
                            data: {confirm: 'Realmente quiere eliminar...??'},:class => "glyphicon glyphicon-trash" %></td>
          </tr>
      <%
         end %>
    </table>
    <%= will_paginate @facturas, :container => false %>
  </div>
  <div class="panel panel-footer">Facturas que se encuentan registrados actualmente</div>
</div>
